@model EditMovieViewModel
 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <h1>Ürün Güncelleme</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form
                        asp-area="Admin"
                        asp-controller="Movie"
                        asp-action="Edit"
                        method="post"
                        enctype="multipart/form-data"
                    >
                    <input type="hidden" asp-for="ImageUrl" />
                    <div class="card card-success">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h3 class="card-title">Ürün Bilgileri</h3>
                                </div>
                                <div>
                                    <a asp-area="Admin" asp-controller="Movie" asp-action="SoftDelete" asp-route-id="@Model.Id" class="btn btn-warning">Çöp Kutusuna Gönder</a>
                                </div>
                            </div>
     
                        </div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="MovName"></label>
                                            <input asp-for="MovName" type="text" class="form-control" placeholder="Ürün adını giriniz...">
                                            <span asp-validation-for="MovName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label asp-for="Movlanguage"></label>
                                            <input asp-for="Movlanguage" type="text" class="form-control" placeholder="Ürün fiyatını giriniz...">
                                            <span asp-validation-for="Movlanguage" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-9">
                                        <label asp-for="MovIntro"></label>
                                        <textarea asp-for="MovIntro"></textarea>
                                        <span asp-validation-for="MovIntro" class="text-danger"></span>
                                    </div>


                                     <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Ürün Resmi</label>
                                            <input type="hidden" value="@Model.ImageUrl"  id="oldImageUrl"></input>
                                            <input id="image" name="image" type="file" class="d-none" accept="image/png, image/jpg, image/jpeg" />
                                            <div class="mt-2">
                                                <label class="btn btn-success" for="image">Ürün Resmini Değiştir</label>
                                            </div>
                                            <span class="text-danger">@ViewBag.ImageErrorMessage</span>
                                            <img src="http://localhost:4100/images/Movies/@Model.ImageUrl" id="image-viewer" class="img-fluid" style="height:200px;" />
                                        </div>
                                    </div> 


                                </div>

                        </div>
                        <!--Ürün Kategoriler-->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Tür Seç(En Az Bir Tür Seçmelisiniz!)</h3>
                            </div>
                            <div class="card-body">
                                @foreach (var g in Model.GenreList)
                                {
                                    <div class="icheck-primary d-inline mr-3">
                                        <input name="genreIds" value="@g.Id" id="genre_checkbox_@g.Id" type="checkbox"
                                            @(Model.GenreIds.Any(genId => genId == g.Id) ? "checked" : "") />
                                            <label for="genre_checkbox_@g.Id">@g.GenreName</label>
                                    </div>
                                }
                                <div class="text-danger mt-2">@ViewBag.GenreErrorMessage</div>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Değişiklikleri Kaydet</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


@section Styles{
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.min.css">
}

@section Scripts{
    @await Html.PartialAsync("_SummerNotePartial")
     <script>

        $("#image").on("change", function (e) {
            const selectedFiles = e.target.files;
            if (selectedFiles.length > 0) {
                $("#image-viewer").attr("src", window.URL.createObjectURL(selectedFiles[0]));
            } else {
                $("#image-viewer").attr("src", "http://localhost:4100/images/Movies/" + $("#oldImageUrl").val());
            }
        });
    </script>
} 